@model Ecommerce.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<section id="form">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="login-form">
                    <h2>Đăng nhập tài khoản</h2>

                    <form asp-action="Login" asp-controller="Account" method="post">
                        @Html.AntiForgeryToken()

                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group">
                            <input asp-for="UserName" class="form-control" placeholder="Tên đăng nhập hoặc Email" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="Password" class="form-control" placeholder="Mật khẩu" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="ReturnUrl" />

                        <button type="submit" class="btn btn-primary">Đăng nhập</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
