@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="d-flex justify-content-center align-items-center vh-50">
    <div class="card shadow-lg p-5 text-center" style="max-width: 400px; border-radius: 20px;">
        <h3 class="mb-0 text-primary">Welcome to Admin Page</h3>
    </div>
</div>
